@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
}

.scan-bg {
  background-color: #EDEDED;
}

.btn-qr-code {
  background-color: #EEF7FC;
}

.text-btn-blue {
  color: #3C94B7 !important
}

.status-green {
  background-color: #189252;
}